

/* HOME =================== */
#home {
    overflow: hidden;
    min-height: 70vh;
    max-height: 70vh;
    height: 70vh;

    background: #1d1d1d;
    position: relative; 
    z-index: 2;

    border-radius: 0 0 5% 5%;
}

header#home .content .image img.mobile {
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    aspect-ratio: 9/16;
    width: 100%;
    filter: brightness(.3);
}

header#home .content .image img.desktop {
    display: none;
}

#home .content {
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
    height: 70vh;
    overflow: hidden;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
    gap: 5rem;
}

#home .content .text-content {
    position: relative;
    z-index: 5;
    margin-left: 1rem;
    text-align: center;
}

#home .content img.logo {
    width: 10rem;
    margin-bottom: 2rem;
}

#home .content h1 {
    line-height: 1;
    color: #fff;
    font-weight: 300;
    font-size: 4rem;
    width: 100%;
    margin-bottom: 1.5rem;

    position: relative;
}

#home .content h1 span.span {
    font-weight: 700;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .content h1 span {
    font-weight: 500;
}

#home .content .text-content p {
    font-size: 1.8rem;
    color: #f9f9f9;
    font-weight: 300;
}

#home .content .text-content p span {
    font-weight: 600;
}

@media (min-width: 1080px) {  
    header#home {
        background-image: none;

        height: 75vh;
        min-height: initial;
        max-height: 75vh;
        border-radius: 0 0 10% 10%;
    }

    header#home .content {
        height: 75vh;
        min-height: initial;
        max-height: 75vh;
    }

    header#home .content {
        text-align: center;
        align-items: center;

        z-index: 2;
    }

    header#home .content .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header#home .content .text-content h1 {
        font-size: 5rem;
        width: 70%;
        margin-bottom: 2rem;
        line-height: .9;
    }

    header#home .content .text-content p {
        font-size: 2rem;
        width: 50%;
        color: #ededed;
        font-weight: 300;
    }

    header#home .content .text-content p span {
        color: #fefefe;
        font-weight: 500;
    }

    header#home .content .buttons a button {
        font-size: 2rem;
    }

    header#home .content .image img.mobile {
        display: none;
    }

    header#home .content .image img.desktop {
        display: initial;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
        width: 100%;
        filter: brightness(.25);
        height: 100%;
    }
}

@media (min-width: 1400px) {
    header#home .content .text-content h1 {
        font-size: 6rem;
    }

    header#home .content .text-content p {
        font-size: 2rem;
    }
}

@media (min-width: 1700px) {
    header#home .content .text-content h1 {
        font-size: 7rem;
    }

    header#home .content .text-content p {
        font-size: 2rem;
    }
}